<!DOCTYPE html>
<html>
<head>
    <title>{{ topic.name }} Problems</title>
</head>
<body>
    <h1>Problems in {{ topic.name }}</h1>


<form method="get">
    <input type="text" name="search" placeholder="Search by title..." value="{{ search_query }}">
    <select name="sort">
        <option value="">Sort By</option>
        <option value="difficulty_asc" {% if sort_order == 'difficulty_asc' %}selected{% endif %}>Easy to Hard</option>
        <option value="difficulty_desc" {% if sort_order == 'difficulty_desc' %}selected{% endif %}>Hard to Easy</option>
        
    </select>
    <button type="submit">Apply</button>
</form>

<ul>
  {% for problem in problems %}
    <li>
      <a href="{% url 'problem_detail' problem.id %}">
        {{ problem.title }} ({{ problem.difficulty }})
      </a>
    </li>
  {% empty %}
    <li>No problems found.</li>
  {% endfor %}
</ul>

    <p><a href="{% url 'topics' %}">← Back to Topics</a></p>
</body>
</html>
