<!-- <!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% if messages %}
        <ul style="color: green;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Welcome, {{ user.username }}!</h2>
    <p><a href="{% url 'logout' %}">Logout</a></p>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% if messages %}
  {% for message in messages %}
    <p style="color: green;">{{ message }}</p>
  {% endfor %}
{% endif %}

<h2>Welcome, {{ user.get_full_name }}!</h2>

<p><a href="{% url 'topics' %}">View Problem Topics</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>

</body>
</html>
